RewriteEngine On

RewriteRule ^mkdocs/ - [L]

RewriteRule ^(app|framework|vendor|config|resources|static|docs|composer\.json|composer\.lock|db\.sql|README\.md|documentazione_progetto\.pdf) - [F,L]

RewriteRule ^ index.php [QSA,L]